<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Feed</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/cookieFunctions.js"></script>
</head>

<body>
  <div class="page-container">
    <div class="feed-top">
      <div>
        <h2 id="mainTitle">DERAVERSE</h2>
      </div>
      <div>

      </div>
      <div>
        <h2>Hi, <%= user.username %>!</h2>
        <form action="/api/auth/logout" method="POST">
          <input type="submit" id="logoutButton" value="Logout" />
        </form>
        <button><a href="/profiles/<%= user.email %> ">Go to profile</a></button>
      </div>
    </div>
    <div class="feed-container">
      <div></div>
      <div>
        <form>
          <textarea rows="3" cols="50" name="content" id="inputContent" placeholder="Write a post..."></textarea>
          <input type="hidden" name="author" id="inputAuthor" value=<%= user.email %> />
          <input type="submit" class="submitButton" id="submitPost" value="Post" />
        </form>
      </div>
      <div></div>
    </div>
    <div class="feed-container">
      <div class="feed-child">

      </div>
      <div class="feed-child" >
        <div id="mainFeed">
          
        </div>
        <button id="getOlderPosts">Get Older Posts</button>
        <p id="postFooter" style="display: none">There are no more posts to show. Maybe refresh?</p>
      </div>
      <div class="feed-child" id="friendSuggestions">
        <h2>Friend Suggestions</h2>
      </div>
    </div>
  </div>

  <script src="/js/utilityFunctions.js"></script>
  <script src="/js/postFunctions.js"></script>
  <script src="/js/friendFunctions.js"></script>
  <script src="/js/main.js"></script>

</body>

</html>